@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-destaque: 'Passion one', cursive;
    --fonte-poesia: 'Sriracha', cursive;

    --cor0: black;
    --cor1: white;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    position: relative;
    font-family: var(--fonte-padrao);
}

p:hover {
    text-decoration: underline;
}

header {
    height: 250px;
    background-color: var(--cor0);
    color: var(--cor1);
    
    text-align: center;
    

}

header h1 {
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 5em;
    padding-top: 30px
}

header h1:hover {
    text-decoration: underline;
}

header p {
    font-weight: normal;
    font-size: 1.2em;
    
}

header p > a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}

main {
    position: relative;
    max-height: 100%;
    max-width: 100%;
}

main p {
    font-family: var(--fonte-poesia);
    font-size: 2.5em;
    line-height: 2em;
    margin-left: 20px;
    max-width: 500px;
}

section {
    
}

section#sec1 {
    background: var(--cor1) url("../imagens/background001.jpg") right center no-repeat fixed;
    background-size: cover;
    
}

section#sec2 {
    background: var(--cor1) url("../imagens/background002.jpg") top right  no-repeat fixed;
}

section.img-fundo > p {
    position: absolute;
    background: rgba(0, 0, 0, 0.404); 
    color: var(--cor1);
    padding: 5px;
    margin: 10px;
}



footer {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
}

footer p {
    position: relative;
    padding: 7px;
}
