@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fonte-destaque: 'Passion one', cursive;
    --fonte-poesia: 'Sriracha', cursive;

    --cor0: black;
    --cor1: white;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    font-family: var(--fonte-padrao);
}

header {
    height: 250px;
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    

}

header h1 {
    font-variant: small-caps;
    font-family: var(--fonte-destaque);
    font-weight: bold;
    font-size: 10vh;
    padding-top: 50px
}

header p {
    font-weight: normal;
    font-size: 1.2em;
    padding-bottom: 50px;
    
}

header a, footer a {
    color: var(--cor1);
    font-weight: bolder;
    text-decoration: none;
}
header > a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-poesia);
    font-size: 3vw;
    
}

section p {
    padding-bottom: 2em;
}

section#sec1 {
    background: var(--cor1) url("../imagens/background001.jpg") right center no-repeat fixed;
    background-size: cover;
    
}

section#sec2 {
    background: var(--cor1) url("../imagens/background002.jpg") top right  no-repeat fixed;
}

section.img-fundo {
    box-shadow: inset 3px 2px 9px rgb(0 0 0 / 42%)
    
}

section.img-fundo > p {
    display: inline-block;
    text-shadow: 1px 1px 0px black;
    background: rgba(0, 0, 0, 0.404); 
    color: var(--cor1);
    padding: 10px;
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    
}

footer p {
    font-size: 2vh;
    padding: 7px;
    text-decoration: none;
}
